/*! CSS Used from: https://preview.tabler.io/assets/css/dashboard.css */

.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

@media print {
    .card {
        box-shadow: none;
        border: none;
    }
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
}

.card-body> :last-child {
    margin-bottom: 0;
}

@media print {
    .card-body {
        padding: 0;
    }
}

.card-title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.card-title a {
    color: inherit;
}

.card-subtitle {
    color: #9aa0ac;
    font-size: 0.875rem;
    display: block;
    margin: -.75rem 0 1rem;
    line-height: 1.1;
    font-weight: 400;
}

.product-price {
    font-size: 1rem;
}

.product-price strong {
    font-size: 1.5rem;
}

body {
    background-color: #FAFAFA;
}

.nav-color {
    background-color: #FAFAFA;
}

.img-2 {
    position: relative;
}

@media (max-width: 767.98px) {
    .img-2 {
        height: 300px;
        margin-bottom: 40px;
    }
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}

.mbr-section {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

.mbr-section-nopadding {
    padding-top: 0;
    padding-bottom: 0; }

.mbr-map {
    height: 15rem;
    position: relative; }
    .mbr-map iframe {
        height: 100%;
        width: 100%; }
    .mbr-map [data-state-details] {
        color: #6b6763;
        font-family: Montserrat;
        height: 1.5em;
        margin-top: -0.75em;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%; }
    .mbr-map[data-state] {
        background: #e9e5dc; }
    .mbr-map[data-state="loading"] [data-state-details] {
        display: none; }
    .mbr-map[data-state="loading"]::after {
        content: "";
        -webkit-animation: btnCircleLoading .6s infinite linear;
        animation: btnCircleLoading .6s infinite linear;
        border-radius: 50%;
        border: 6px rgba(255, 255, 255, 0.35) solid;
        border-top-color: #fff;
        height: 40px;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        width: 40px; }

.section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%
}

#clients {
    padding: 60px 0
}

#clients .clients-wrap {
    margin-bottom: 30px
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    height: 160px
}

#clients img {
    transition: all 0.4s ease-in-out
}

.btn-round{
    border-radius: 15px;
}