{% extends "template.html" %}
{% block title %}
<title>Admin Dashboard</title>
{% endblock %}

{% block header %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
    </li>
</ul>
{% endblock %}

{% set count = 5 %}
{% block content %}
<style>
    .table tr {
        cursor: pointer;
    }

    .table {
        background-color: #fff !important;
    }

    .hedding h1 {
        color: #fff;
        font-size: 25px;
    }

    .main-section {
        margin-top: 5px;
    }

    .hiddenRow {
        padding: 0 4px !important;
        background-color: #eeeeee;
        font-size: 13px;
    }

    .accordian-body span {
        color: #a2a2a2 !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-6 p-5 bg-white rounded shadow-sm mb-5">
            <div class="bg-light rounded-pill mb-4 px-4 py-3 text-uppercase font-weight-bold">Purchase List</div>

            <table class="table table-bordered" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ಹೆಸರು</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in stock %}
                    {% if item.stock > 0 %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.k_name }}</td>
                        <td>{{ item.stock }} {{ item.unit }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="col-lg-6 p-5 bg-white rounded shadow-sm mb-5">
            <div class="bg-light rounded-pill mb-4 px-4 py-3 text-uppercase font-weight-bold">Enquiries</div>

            <table class="table table-bordered" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Locality</th>
                        <th>Enquiry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in enquiry %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.locality }}</td>
                        <td>{{ item.enquiry }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
            <div class="bg-light rounded-pill mb-4 px-4 py-3 text-uppercase font-weight-bold d-flex align-items-center">Orders
                <div class="dropdown">
                    <button class="btn btn-link text-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Apt
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/admin_page">All</a>
                        {% for item in apt %}
                        <a class="dropdown-item" href="/admin_page/filter/{{ item.id }}">{{ item.apt_name | capitalize }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <table class="table table-bordered" style="border-collapse:collapse;">
                <thead class="sticky-top">
                    <tr>
                        <th>No.</th>
                        <th>Order No</th>
                        <th>Order Date</th>
                        <th>Name</th>
                        <th>Apt Name</th>
                        <th>Apt Num</th>
                        <th>Phone</th>
                        <th>Order total</th>
                    </tr>
                </thead>
                <tbody>

                    {% for order in orders %}
                    <tr colspan="8" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                        <td>{{loop.index}}</td>
                        <td>{{ order.order.order_number }}</td>
                        <td>{{ order.order.order_date }}</td>
                        <td>{{ order.customer.fname }}</td>
                        <td>{{ order.customer.apt_name }}</td>
                        <td>{{ order.customer.apt }}</td>
                        <td>{{ order.customer.phone }}</td>
                        <td>₹{{ order.order.order_total }}</td>
                    </tr>
                    <tr class="p">
                        <td colspan="8" class="hiddenRow">
                            <div class="accordian-body  p-3" id="demo1">
                                {% if order.order %}
                                <div class="row">
                                    {% for item in order.order_details %}
                                    {% set subtotal = item.qty|float * item.price|float %}
                                    <div class="col-sm-2">
                                        <p><span>{{ item.qty }} {{ item.unit }}</span> : {{ item.name }} :
                                            {{ item.k_name }}<span>₹{{ subtotal }}</span></p>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <p><span>Nothing Ordered</span></p>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}