{% extends "template.html" %}
{% block title %}
<title>Shopping Cart</title>
{% endblock %}

{% block header %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
    </li>
</ul>
{% endblock %}

{% set count = 5 %}
{% block content %}
<div class="pb-5 mt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                <!-- Shopping cart table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">Product</div>
                                </th>
                                <th scope="col" class="border-0 bg-light text-center">
                                    <div class="py-2 text-uppercase">Price per unit</div>
                                </th>
                                <th scope="col" class="border-0 bg-light text-center">
                                    <div class="py-2 text-uppercase">Quantity</div>
                                </th>
                                <th scope="col" class="border-0 bg-light text-center">
                                    <div class="py-2 text-uppercase">Total Price</div>
                                </th>
                                <th scope="col" class="border-0 bg-light text-center">
                                    <div class="py-2 text-uppercase text-center">Remove</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in session['cart'] %}
                            <tr>
                                <th scope="row" class="border-0">
                                    <div class="p-2">
                                        <img src="/public/images/veg/{{ item.image }}.jpg" alt="" width="70"
                                            class="img-fluid rounded shadow-sm">
                                        <div class="ml-3 d-inline-block align-middle">
                                            <h5 class="mb-0"> <a href="#"
                                                    class="text-dark d-inline-block align-middle">{{ item.name | capitalize }}</a>
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <td class="border-0 align-middle text-center"><strong>₹{{ item.price }}</strong> per
                                    {{ item.unit }}</td>
                                <td class="border-0 align-middle text-center"><strong>
                                        <form action="/cart/update/{{item.id}}">
                                            <div class="form-group d-flex justify-content-center">
                                                <input name="qty" style="width: 70px;" type="text"
                                                    class="form-control align-middle" id="qty" aria-describedby="qty"
                                                    value="{{ item.qty }}">
                                                <button type="submit"
                                                    class="btn btn-link text-info align-middle">update</button>

                                            </div>
                                        </form>
                                    </strong></td>
                                {% set total = item.qty|float * item.price|float %}
                                <td class="border-0 align-middle text-center"><strong>{{ total }}</strong></td>
                                <td class="border-0 align-middle text-center">
                                    <form action="/cart/delete/{{ item.id }}" method="post">
                                        <button type="submit" class="btn btn-link text-dark"><i
                                                class="fa fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="nav-link font-italic mt-1 mb-0">* Please click on 'update' against each item quantity you
                        change to update the cart</p>
                </div>
                <!-- End -->
            </div>
        </div>

        <div class="row py-5 p-4 bg-white rounded shadow-sm">
            <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">User Details</div>
                <div class="p-4">
                    <ul class="list-unstyled mb-4">
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Name:
                            </strong>{{ user.fname }}</li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Phone:
                            </strong>{{ user.phone }}</li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                class="text-muted">Apartment Name: </strong>{{ apt_name.apt_name }}</li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                class="text-muted">Apartment Number: </strong>{{  user.apt }}</li>
                    </ul>
                    <p class="nav-link font-italic mt-1 mb-0">* Please update any missing information in your Account
                        settings before placing the order.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                <div class="p-4">
                    <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you
                        have entered.</p>
                    <ul class="list-unstyled mb-4">
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order
                                Subtotal </strong><strong>₹{{ subtotal - shipping  }}</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                class="text-muted">Shipping and handling</strong><strong>₹{{ shipping }}</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                class="text-muted">Tax</strong><strong>₹0.0</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                class="text-muted">Total</strong>
                            <h5 class="font-weight-bold">₹{{ subtotal }}</h5>
                        </li>
                    </ul>
                    <form action="{{ url_for('create_order') }}" method="post">
                        <button type="submit" class="btn btn-success rounded-pill py-2 btn-block">Place Order</button>
                    </form>
                    <p class="nav-link font-italic mt-1 mb-0">* Clicking the above button will place your order and
                        display QR Code to make the payment using PayTM or GPay</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}