{% extends "template.html" %}
{% block title %}
<title>Admin Dashboard</title>
{% endblock %}

{% block header %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
    </li>
</ul>
{% endblock %}

{% set count = 5 %}
{% block content %}
<style>
    .table tr {
        cursor: pointer;
    }

    .table {
        background-color: #fff !important;
    }

    .hedding h1 {
        color: #fff;
        font-size: 25px;
    }

    .main-section {
        margin-top: 5px;
    }

    .hiddenRow {
        padding: 0 4px !important;
        background-color: #eeeeee;
        font-size: 13px;
    }

    .accordian-body span {
        color: #a2a2a2 !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
            <div class="bg-light rounded-pill mb-4 px-4 py-3 text-uppercase font-weight-bold">Enquiries</div>

            <table class="table table-bordered" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Locality</th>
                        <th>Enquiry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in enquiry %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.locality }}</td>
                        <td>{{ item.enquiry }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

</div>
{% endblock %}